@include keyframes(ticket) {
    0% {
        left: -24vw;
    }
    35% {
        left: 6.6vw;
    }
    100% {
        left: 6.6vw;
    }
}

@include keyframes(ticket-number) {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(call) {
    0% {
        margin-left: -97vw;
    }
    22% {
        margin-left: -97vw;
    }
    55% {
        margin-left: 0;
    }
    100% {
        margin-left: 0;
    }
}

@include keyframes(call-text) {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(bg-arrow) {
    0% {
        left: -97vw;
    }
    22% {
        left: -97vw;
    }
    55% {
        left: 0;
    }
    100% {
        left: 0;
    }
}

.container.ease-in {
    .ticket {
        @include animation(ticket, 3s, ease);
        p {
            @include animation(ticket-number, 3s, ease);
        }
    }
    
    .call {
        @include animation(call, 3s, ease);
        p {
            @include animation(call-text, 3s, ease);
        }
    }
    
    .bg-arrow {
        @include animation(bg-arrow, 3s, ease);
    }
}

.container.ease-out {
    .ticket {
        @include animation(ticket, 3s, ease, 0, reverse);
        p {
            @include animation(ticket-number, 3s, ease, 0, reverse);
        }
    }
    
    .call {
        @include animation(call, 3s, ease, 0, reverse);
        p {
            @include animation(call-text, 3s, ease, 0, reverse);
        }
    }
    
    .bg-arrow {
        @include animation(bg-arrow, 3s, ease, 0, reverse);
    }
}

