@import "variables";
@import "mixins";
@import "fonts";
@import "animation";

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: $white;
    font-family: 'Formata';
}

h1 {
    font-size: 5vw;
    margin: 0;
    line-height: 1.2;
}