@import '../../../assets/scss/variables';

.container {
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

.content {
    height: 44.4vw;
    width: 87.17vw;
    position: absolute;
    top: 5.69vw;
    left: 6.41vw;
    background-color: $white;
}

#comparisons {
    display: flex;
    margin-top: 1.375vw;
    margin-bottom: 4.588vw;
}

.colruyt.barometer {
    margin-right: 1.5vw;
}

.comparison {
    &.colruyt-comparison {
        background: $orange;
    }

    width: 23.07vw;
    height: 4.12vw;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.4vw;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 0.49vw;
}

.store-name {
    &.colruyt {
        color: $orange;
    }

    font-size: 4.7vw;
    font-weight: bold;
}

.branch-name {
    &.colruyt {
        color: $orange;
    }

    height: 3.2vw;
    font-size: 2.4vw;
    font-weight: bold;
    margin-bottom: 0.6vw;
}

.barometer-text {
    &.barometer-info {
        margin-bottom: 0.7vw;
    }

    &.barometer-price-difference {
        font-weight: bold;
    }

    &.barometer-link {
        color: $orange;
        font-weight: bold;
        overflow-wrap: break-word;
    }

    font-size: 1.9vw;
}

.footer-text {
    font-size: 0.75vw;
    position: absolute;
    bottom: -0.75vw;
    line-height: 1.5;
}

.logo {
    background-color: $orange;
    position: absolute;
    width: 6.23vw;
    height: 6.45vw;
    left: 86.36vw;
    bottom: 0;
    transform: skew(-25deg);
}

.no-data {
    width: 38.5vw;
    text-align: center;
    font-size: 2vw;
    padding-top: 3vw;
    margin: auto;
    line-height: 1.5;
}