<div *ngIf="isLoading === false" [@state]="animationState" (@state.done)="afterAnimation()">
    <ng-container *ngIf="branchName || competitors || activeCompetitor">
        <div class="container">
            <div class="content">
                <h1>{{'TITLE.LINE1' | translate}}<br />{{'TITLE.LINE2' | translate}}
                </h1>
                <div id="comparisons">
                    <div class="colruyt barometer">
                        <div class="colruyt store-name">Colruyt</div>
                        <div class="colruyt branch-name">{{ branchName }}</div>
                        <div class="colruyt-comparison comparison">
                            <div class="cheapest-label">{{'TEXT.CHEAPEST' | translate}}</div>
                        </div>
                    </div>

                    <ng-container *ngFor="let competitor of competitors">
                        <div class="other-branch barometer" *ngIf="competitor === activeCompetitor">
                            <div class="other-branch store-name">{{ competitor.name }}</div>
                            <div class="other-branch branch-name">{{ competitor.location }}</div>
                            <div class="other-branch comparison"
                                [ngStyle]="{'background-color': '#' + competitor.competitorDetail.colour}">
                                <div>{{ activeCompetitor.competitorDetail.percentage | percentage }}% {{'TEXT.MORE_EXPENSIVE' | translate}}</div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div id="barometer-text">
                    <div class="barometer-text barometer-info">{{'TEXT.BAROMETER1' | translate}}</div>
                    <div class="barometer-text barometer-price-difference">{{'TEXT.BAROMETER2' | translate}} 
                        <span class="barometer-text barometer-link">{{'TEXT.LINK' | translate}}</span>
                    </div>
                </div>
                <div class="footer-text">
                    <span translate
                        [translateParams]="{branch: activeCompetitor.name, date: activeCompetitor.competitorDetail.compareDate, qty: activeCompetitor.competitorDetail.product }">
                        TEXT.FOOTER
                    </span>
                </div>
            </div>
            <div class="background">
                <div class="logo"></div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="showNoData">
        <div class="container">
            <div class="content">
                <h1>{{'TITLE.LINE1' | translate}} {{ branchName }}<br />{{'TITLE.LINE2' | translate}}</h1>
                <div class="no-data">{{ 'TEXT.NO_DATA' | translate }}</div>
            </div>
        </div>
    </ng-container>
</div>